aside {
    background: #1f8dd6;
    padding: 0.6em 1em;
    color: #fff;
}

.cs-content {
  position: relative;
  width: 48%;
  height: 300px;
  margin-right: 1%;
  top: 0;
  left: 0;
  overflow: hidden;
  float: left;
  border: 1px solid red;
}

.cs-view {
  position: absolute;
}

.cs-view p {
    margin-left: 1em;
    margin-right: 1em;
}

.cs-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 20px;
  background-color: #888;
  border: none;
  margin: 5px 0 5px 0;
  z-index: 100;
}